{% extends "baselogin.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <form class="form" method="post">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <h1 class="heading1">LOGIN</h1>
        <br>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username"
         name="Username" required>
         <br>
         <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required>
        <br>
        <br>
        <button type="submit">Login</button>
        <br>
        <br>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </form>
{% endblock %} {% endcomment %}