{% extends "baselogin.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <form class="form" method="post">
        {% csrf_token %}
        <br>
        <br>
        <br>
        <h1>SIGN UP</h1>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="Username" required>
        <br>
        <br>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="Password" required>
        <br>
        <br>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="Confirm_Password" required>
        <br>
        <br>
        <button type="submit">Sign Up</button>
        <br>
        <br>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
{% endblock %}

