a {
    color: mustard;
    text-decoration: none;
}
.heading {
    color:rgba(255, 255, 0, 0.9) ;
    text-align:9px;
}

a:hover {
    text-decoration: underline;
}
body {
    background-color: black;
    color:rgba(253, 215, 25, 0.5) ;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    color: black;
}

.container1 {
    max-width: 800px;
    height: 400px;
    margin: 120px 50px 50px 340px;
    padding: 20px;
            border: 2px solid mustard;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
}

.content1{
    color: mustard;
}

/* p {
    margin: 20px 0;
}
.ab {
    color: rgba(255, 255, 0, 0.9);
} */
